/* COMMON
   ======================= */
.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    border-radius: 20px;
    padding: 10px 30px;

}

.white-button {
    background-color: white;
    color: black;
}

.btn-block {
    width: 200px;
    display: block;
    margin-bottom: 30px;
}


.abs {
    position: relative;
}

.google-logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* ======================= */

/* MACRO LAYOUT
   ======================= */
body {
    background-color: blueviolet;
    color: white;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */
.user-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

#user {
    padding-left: 20px;
}

.user-icon,
.google-logo {
    height: 30px;
    width: auto;
}



/* ======================= */