/* COMMON
   ======================= */
.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    border-radius: 20px;
    padding: 10px 30px;

}

.white-button {
    background-color: white;
    color: black;
}

/* ======================= */

/* MACRO LAYOUT
   ======================= */
body {
    background-color: blueviolet;
    color: white;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */
.user-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

#user {
    padding-left: 20px;
}

.user-icon,
.google-logo {
    height: 30px;
    width: auto;
}



/* ======================= */